* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-050: #fff; 
    --secondary-050: #2a2a2a;
}
header {
  width: 100%;
  height: 200px;
  padding: 5px 0;
  text-align: center;
  color: brack;
  background-image: url("image/backgrand.png");
  background-position: center bottom;
  background-size: cover;
  border:2px solid #933;
  
}
header .headline{
    width: 10% auto;
    line-height: 6rem;
    font-size: 7vmin;
    text-align: left auto;
}
.nav-list {
    line-height: 100px;
    font-size: vmin;
    list-style: none;
    font-weight: bold;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  
  margin: 0 20px;
}

.global-nav h1 {
    display: flex;
    font-size: 1.75rem;
    font-family: 'Pacifico', cursive;
    height: 40px;
    color: var(--primary-050);
    background-color: var(--secondary-050);
    background-size: cover;
    align-items: center;
    justify-content: left;
    padding: 6rem;
    margin-bottom: 3rem;
}

#gallery {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    max-width: 1000px; 
    margin: 100px auto;
    display: flex;    
    flex-flow: wrap;  
  }
  #gallery dl {
    flex: 300px;    
    float: left;    
    width: 300px;   
    margin-right: 4rem;
    margin-bottom: 7em;
    padding: 0;
    font-size: 16px;
    background-color:var(--secondary-050) ;
    border:1px solid #933;
    text-align: center;  
    box-sizing: border-box;
  }
  #gallery:after { 
    content: "";
    flex: 200px;
    margin-right: 5px;
    display: block;
  }
  #gallery dl img {
    border: 0;
    width: 100%;
    height: auto;
  }
  #gallery dt {
    margin: 0;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  #gallery dd {
    margin: 0;
    padding: 0;
  }
  #gallery dd.comment {
    height: 3em;  
    padding: 2px 5px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
  }
