
header {
    width: 100%;
    height: 200px;
    padding: 5px 0;
    text-align: center;
    color: brack;
    background-image: url("image/backgrand.png");
    background-position: center bottom;
    background-size: cover;
    border:2px solid #933;
    display: flex;
      align-items: center;
      /* 子要素の間を開けて端っこピッタリ */
      justify-content: space-between;
  
      /* 背景設定しないとナビゲーションの背景が透明のまま */
      background-color: #fff;
  
      box-shadow: 0 2px 1rem var(--dark-026);
    
  }
  header .headline{
      width: 10% auto;
      line-height: 6rem;
      font-size: 7vmin;
      text-align: left auto;
  }
  
/* 初期状態の CSS の設定を記述 */
.nav-list-item {
    border: 1px solid #76A3AF;
    border-radius: 4px;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    background: lightblue;  /* アニメーション対象の初期設定の値 */
    color: darkblue;  /* アニメーション対象の初期設定の値 */
    /* transition プロパティの指定 */
    transition: 0.7s;
  }

   
  /* アニメーション最終状態（到達点）の CSS の設定を記述 */
  .nav-list-item:hover {
    background: darkblue;
    color: white;
  }
/* 初期状態の CSS の設定を記述 */
.sample02 {
  border: 1px solid #CCC;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: green;  /* アニメーション対象の初期設定の値 */ 
  box-shadow: 20px 10px 2px #8D9EB8;  /* アニメーション対象の初期設定の値 */
  transition: 1s;   /* transition プロパティの指定 */
}
 
 /* アニメーション最終状態（到達点）の CSS の設定を記述 */
.sample02:hover {
  color: orange;
  box-shadow: -20px 10px 5px #8D9EB8;
}