
  
  /* Webページ全体の設定を記載 */
  :root { /* htmlを指定した場合と同じような意味合いです */
    /* 書体の設定 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    /* 日本語の字詰を自動カーニングするように設定 */
    font-feature-settings: "palt";
    /* 標準の文字サイズを指定 */
  }

  body {
    background-image: url("background.jpg");  /* 背景画像設定 */
    background-size: cover; /* 背景画像のサイズを全体にフィットするように設定 */
    background-attachment: fixed; /* 背景画像をスクロールしても同じ位置になるように設定 */
  }
  main {
    display: flex; /* この要素の内部の表示をフレキシブルに変更可能とする */
    justify-content: center; /* 内部要素を中央揃え */
    align-items: center; /* 内部要素を中央揃え */
    height: 100vh; /* 高さを画面の高さに揃える */
  }
  
  /* モバイルでの表示時にレイアウトを変更する */
  @media screen and (max-width: 896px) {
    main {
      flex-direction: column; /* 横並びを縦並びに変更する */
    }
  }

  /* class="profile-photo" の中の img */
.profile-photo img {
    display: block; /* 画像自体を箱として表示させる */
    width: 300px; /* 横幅の設定 */
    height: 300px; /* 高さの設定 */
    border-radius: 50%; /* 角丸を50%で指定することで正方形の画像は円にくり抜かれる */
  }

  .profile-text {
    max-width: 600px; /* 最大幅を設定 */
    padding: 2rem; /* 基準文字サイズの2文字分内側に余白を設定 */
    color: rgb(26, 238, 121); /* 文字色を設定(任意の文字色に変えて良い) */
  }
  h1 {
    font-size: 4rem; /* 文字サイズを基準サイズの400%とする */
    letter-spacing: 0.1em; /* 字間を0.1文字分開ける */
  }
  .social {
    list-style: none; /* リストの・が邪魔なので消します */
    display: flex; /* フレキシブルに */
    margin-top: 1.5rem; /* 上部に1.5文字分の外部余白を設定 */
  }

  /* class="social"の中のli */
.social li {
    line-height: 1; /* 文字高さを1文字分とする */
    padding: 0.5rem;  /* 上下左右に0.5文字分の内部余白をつける */
    font-size: 1.5rem; /* アイコン(文字)のサイズを1.5文字分とする */
  }

  /* class="social"の中のliの中のa */
.social li a {
    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: #fff;  /* 文字色変更(任意の文字色に変えて良い) */
    transition: 1s color; /* 文字色が変化する場合、１秒かけて変化させる定義 */
  }
  /* class="social"の中のliの中のaにマウスカーソルが乗った時 */
.social li a:hover {
    color: rgb(54, 88, 199);  /* 文字色を変える(任意の文字色に変えて良い) */
  }

  .background-filter {
    width: 100%;
    height: 100%;
    position: fixed; /* 配置を固定 */
    top: 0; /* 上部の位置を設定 */
    left: 0; /* 左側の位置を設定 */
    z-index: -1; /* 重なりの位置をmainコンテンツの後ろに設定 */
    background-attachment: fixed;
    opacity: 0.75; /* 透明度を75%に設定 */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); /* 背景をグラデーションで設定 */
  }

  .profile-photo {
    position: relative; /* 縁取り要素を追加する前に、親コンテナの配置方法を相対配置に変更 */
  }
  .circle1,
  .circle2,
  .circle3 {
    position: absolute; /* 縁取り要素は絶対配置 */
    top: 0; /* .profile-photoの開始位置と揃える */
    width: 100%;
    height: 100%;
    border-radius: 40%; /* 40%の角丸めで歪な形を作成しておく */
    z-index: -1; /* 画像と背景の間に重ねる */
  }

  /* rotationという名前のアニメーションを作成 */
@keyframes rotation {
    from {  /* 開始時点の装飾 */
      transform: rotate(0deg);  /* 変形操作の内、回転0度 */
    }
  
    to {  /* 終了時点の装飾 */
      transform: rotate(360deg); /* 変形操作の内、回転360度 */
    }
  }

  .circle1 {
    opacity: 0.1; /* 透明度 */
    background: #0af; /* 縁取りの色設定 */
    transform-origin: 50% 47%;  /* transformの基準位置を変更 */
    animation: rotation 5s infinite linear; /* rotationアニメーションの秒数と繰り返し、変化を線形に変更 */
  }
  
  .circle2 {
    opacity: 0.3;
    background: #ff0;
    transform-origin: 52% 48%;
    animation: rotation 12s infinite linear;
  }
  
  .circle3 {
    opacity: 0.2;
    background: #fa0;
    transform-origin: 48% 52%;
    animation: rotation 8s infinite linear;
  }

  .profile-text {
    max-width: 600px;
    padding: 2rem;
    color: rgb(136, 13, 9);
  }

  .social li a {
    text-decoration: none;
    color: rgb(10, 4, 94);
    transition: 1s color;
  }